<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="gemini" sequenceNumber="1619697966">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.equinox.sdk.feature.group" version="3.22.0.v20210227-0235"/>
      <repository location="http://ftp.halifax.rwth-aachen.de/eclipse/releases/2021-03/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.persistence.jpa.feature.group" version="2.7.7.v20200504-69f2c2b80d"/>
      <repository location="http://download.eclipse.org/rt/eclipselink/updates/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gemini.dbaccess.feature.feature.group" version="1.1.0.RELEASE"/>
      <repository location="http://download.eclipse.org/gemini/updates/dbaccess/1.1.0/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="osgi.enterprise" version="4.2.0.v201108120515"/>
      <unit id="javax.persistence" version="1.0.0.v200905011740"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20210223232630/repository/"/>
    </location>
  </locations>
</target>
